window._env_ = {
  BACKEND_SERVER_URL: "${BACKEND_SERVER_URL}",
  LOBBY_SERVER_URL: "${LOBBY_SERVER_URL}",
  GAME_SERVER_URL: "${GAME_SERVER_URL}",
  CHAT_SERVER_URL: "${CHAT_SERVER_URL}",
  REDIRECT_URI_42_API: "${REDIRECT_URI_42_API}"
}