@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300,400,500,600,700,800,900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #42434e;
}

.loginElement {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 380px;
	height: 420px;
	background-color: #42434e;
	border-radius: 8px;
	overflow: hidden;
}

.loginElement::before {
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	background: linear-gradient(0deg, transparent,
		transparent, #45f3ff, #45f3ff, #45f3ff);
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
}

.loginElement::after {
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	background: linear-gradient(0deg, transparent,
		transparent, #45f3ff, #45f3ff, #45f3ff);
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}

.borderLine {
	position: absolute;
	top: 0;
	inset: 0;
}

.borderLine::before {
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	background: linear-gradient(0deg, transparent,
		transparent, #ff2770, #ff2770, #ff2770);
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
	animation-delay: -1.5s;
}

.borderLine::after {
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	background: linear-gradient(0deg, transparent,
		transparent, #ff2770, #ff2770, #ff2770);
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
	animation-delay: -4.5s;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loginElement form {
	position: absolute;
	inset: 4px;
	background: #222;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}

.loginElement form h2 {
	color: #fff;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}

.loginElement form .inputBox {
	position: relative;
	width: 300px;
	margin-top: 35px;
}

.loginElement form .inputBox input {
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	border: none;
	box-shadow: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}

.loginElement form .inputBox span {
	position: absolute;
	left: 0;
	padding: 20px 10px 10px;
	pointer-events: none;
	color: #8f8f8f;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
}

.loginElement form .inputBox input:valid ~ span,
.loginElement form .inputBox input:focus ~ span {
	color: #fff;
	font-size: 0.75em;
	transform: translateY(-34px);
}

.loginElement form .inputBox i {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
}

.loginElement form .inputBox input:valid ~ i,
.loginElement form .inputBox input:focus ~ i {
	height: 44px;

}

.loginElement form .links {
	display: flex;
	justify-content: space-between;
}

.loginElement form .links a {
	margin: 10px 0;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: none;
}

.loginElement form .links a:hover
.loginElement form .links a:nth-child(2) {
	color: #fff;
}

.loginElement form .loginBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.loginElement form .loginBox input[type="submit"] {
	border: none;
	outline: none;
	padding: 9px 25px;
	background: #fff;
	cursor: pointer;
	font-size: 0.9em;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
	order: 1;

}

.loginElement form .loginBox input[type="submit"]:not(:disabled):active {
	opacity: 0.8;
}

.loginElement form .loginBox .login {
	border: none;
	outline: none;
	border-radius: 4px;
	padding: 9px 25px 9px 15px;
	background: #fff;
	cursor: pointer;
	font-size: 0.9em;
	font-weight: 600;
	color: #23242a;
	text-decoration: none;
	width: 130px;
	margin-top: 10px;
	order: 2;
	position: relative;
}

.loginElement form .loginBox .login:active {
	opacity: 0.8;
}

.loginElement form .loginBox .login::after {
	content: url('@/assets/images/login/42-logo.svg');
	position: absolute;
    right: 15px;  /* Adjust this to move the image horizontally */
    top: 50%;
    transform: translateY(-50%);
    width: 20px;   /* Adjust this to your desired image width */
    height: 20px;
}